{
    margin: 0;
    padding: 0;
  }
  .lol{
    font-family: 'Lexend', sans-serif;
    margin-top: 0;
    color: #444545;
    text-align: center;
    font-size: 125px;
    padding-top: 150px;
    line-height: 150px;
    letter-spacing: 5px;
  }
  .header{
    background-color: #60c7e0;
    height: 735px;
    background-image: url(Untitled.png);
    background-position: center;
    background-size: 2000px;
  }
  .hi{
    font-family: 'Lexend', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 55px;
    letter-spacing: 5px;
  }
  .sdg1{
    padding-left: 65px;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .sdg2{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg3{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg4{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg5{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg6{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg7{
    padding-left: 65px;
    padding-bottom: 30px;
  }
  .sdg8{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg9{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg10{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg11{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg12{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg13{
    padding-left: 175px;
    padding-bottom: 30px;
  }
  .sdg14{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg15{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg16{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .sdg17{
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .note{
    font-family: 'Lexend', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px; 
  
  
 